<mat-card  class="example-card">
    <h1>Login to Chip-Cart</h1>
    <form>
        <div class="example-container">
        <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        </div>
        <div class="example-container">
        <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="password" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
        </div>
        
        
        
        <button type="submit"mat-raised-button color="primary">Login</button>
        <a routerLink="/signup">New to Chip-Cart? Create an account</a>
    </form>
</mat-card>